header {
  display: inline-block;
  flex-direction: column;
  flex: 0 0 100%;
  align-items: space-around;
  text-align: center;
}

body,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-evenly;
  text-align: center;
}

.button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.title {
  flex: 0 0 100%;
}
